properties/resources/param/DELPPWApplications/xsd/DELWebMfgAssetsPhantomNodeConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="DS_DELPPWConfiguration"  xmlns:tns="DS_DELPPWConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PhantomNodeConfig">
 	<xs:complexType>
		<xs:sequence>
		      <xs:element name ="Condition" type="tns:Condition" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	    <xs:attribute type="xs:string" name="Title" 		use="optional"/>
	    <xs:attribute type="xs:string" name="Description" 	use="optional"/>
    </xs:complexType>
  </xs:element>

   <xs:complexType name="Condition">
	  <xs:sequence>
		<xs:element name="Validation" type="tns:Validation" maxOccurs="unbounded" minOccurs="1"/>
	  </xs:sequence>
	</xs:complexType>

	<xs:complexType name="Validation">
		<xs:sequence>
			<xs:element name="Attribute" type="tns:AttributeValidation" maxOccurs="unbounded" minOccurs="1" />
		</xs:sequence>
 	</xs:complexType>

	<xs:complexType name="AttributeValidation">
	  	<xs:attribute type="xs:string" name="name" use="required"/>
	  	<xs:attribute type="xs:string" name="value" use="required"/>
	</xs:complexType>
</xs:schema>
